<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donors Data</title>
</head>
<style>
    
</style>
<body>
    <h1>Registered Donor List</h1>
    <form method="get">
    <select name="bg">
        <option value="a+">A+</option>
        <option value="a-">A-</option>
        <option value="b+">B+</option>
        <option value="b-">B-</option>
        <option value="o+">O+</option>
        <option value="o-">O+</option>
        <option value="ab+">AB+</option>
        <option value="ab-">AB-</option>
    </select>
    </form>
</body>
</html>
