<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donors Data</title>
</head>
<style>
    h1{
        text-align: center;
        color: lightblue;
    }
    h3{
        text-align: center;
        color: red;
    }
    table{
        width: 80%;
        border: 2px black solid;
        margin-top: 50px;
    }
    th{
        border: 1px black double;
    }
</style>
<body>
    <h3>YOURCARE BLOOD BANK</h3>
    <h1>REGISTERED DONORS LIST</h1>
    <center>
        <form method="get" action="">
            <label>Enter Blood Group to check:</label>
            <select name="bg">
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="o+">O+</option>
                <option value="o-">O+</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
            </select>
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Donor Name</th>
                <th>Donor Age</th>
                <th>Blood Group</th>
                <th>Phone Number</th>
                <th>Delete Donor</th>
            </tr>
            <tr>
                <td>{ID}</td>
                <td>{Donor Name}</td>
                <td>{Donor Age}</td>
                <td>{Blood Group}</td>
                <td>{Phone Number}</td>
                <td>{Delete Donor}</td>
            </tr>
        </table>
    </center>
</body>
</html>
